
@model IEnumerable<Inzynierka.Models.TripAdvert.TripAdvert>

@foreach (var tripAdvert in Model)
{
    <div>
        <h2>tripAdvert.Title</h2>
        <h3>tripAdvert.AdvertDate</h3>
        <h3>tripAdvert.Conutry</h3>
        <h3>tripAdvert.Content</h3>
    </div>
}




@*@{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
