@model IEnumerable<Inzynierka.Models.TripAdvert.TripAdvert>

@foreach(var tripAdvert in Model)
{
<div>
    <h2>@tripAdvert.Title</h2>
    <h3>@tripAdvert.AdvertDate</h3>
    <h3>@tripAdvert.Country</h3>
    <h3>@tripAdvert.Content</h3>
</div>
}